[submodule "sources/didcomm.org"]
	path = sources/didcomm.org
	url = https://github.com/decentralized-identity/didcomm.org
	shallow = true
[submodule "sources/didcomm-messaging"]
	path = sources/didcomm-messaging
	url = https://github.com/decentralized-identity/didcomm-messaging
	shallow = true
[submodule "sources/aries-rfcs"]
	path = sources/aries-rfcs
	url = https://github.com/hyperledger/aries-rfcs
	shallow = true
[submodule "sources/waci-didcomm"]
	path = sources/waci-didcomm
	url = https://github.com/decentralized-identity/waci-didcomm
	shallow = true
